h1 
  | Make a wish..
  br 
  | .. and blow out the candle
#glow.glow
#candle
  -for (var i = 0; i < 5; i++)
    .stripe
  #top
    -for (var i = 0; i < 3; i++)
      .smoke
    #knot
    #flame.burn
